/.DS_Store
/Notebook/.DS_Store
/Notebook/das-versprechen-der-vernetzung.aux
/Notebook/das-versprechen-der-vernetzung.fdb_latexmk
/Notebook/das-versprechen-der-vernetzung.fls
/Notebook/das-versprechen-der-vernetzung.log
/Notebook/das-versprechen-der-vernetzung.out
/Notebook/das-versprechen-der-vernetzung_files/*.png
