/.DS_Store
/Notebook/.DS_Store
/Notebook/das-versprechen-der-vernetzung.aux
/Notebook/das-versprechen-der-vernetzung.fdb_latexmk
/Notebook/das-versprechen-der-vernetzung.fls
/Notebook/das-versprechen-der-vernetzung.log
/Notebook/das-versprechen-der-vernetzung.out
/Notebook/das-versprechen-der-vernetzung_files/*.png
/Notebook/the-promise-to-partner.log
/Notebook/the-promise-to-partner.fls
/Notebook/the-promise-to-partner.fdb_latexmk
/Notebook/the-promise-to-partner.aux
/Notebook/img/.DS_Store
/Notebook/.ipynb_checkpoints/
